html, body {
  font-family: monospace;
}
#game {
  text-align: center;
}
#error {
  color: rosybrown;
}
#pyramid {
  
}
#pyramid div {
  margin: 10px;
  display: inline;
}
#pyramid .hidden {
  color: skyblue;
}
#pyramid .unhidden {
  cursor: pointer;
}
#current {
  font-weight: bold;
}
