{% extends "base.html" %}
{% block "stuff" %}
<h1>SEND</h1>
<p class="text-danger">{{ errormsg }}</p>
<form role="form" action="{% url 'send' %}" method="POST">{% csrf_token %}
  <h2>where are you sendin from</h2>
  <div class="form-group">
    <label for="sName">From: </label>
    <input type="text" class="form-control" placeholder="Sender Name" name="sName" id="sName"/>
  </div>
 <!--
  <div class="form-group">
    <label for="sStrAddr">Street Addr: (optional) </label>
    <input type="text" class="form-control" placeholder="Your Street Addr" name="sStrAddr" id="sStrAddr"/>
  </div>
  <h3>provide at least one of the following</h3>
  <div class="form-group">
    <label for="sCity">City: </label>
    <input type="text" class="form-control" placeholder="Your City" name="sCity" id="sCity"/>
  </div>
  <div class="form-group">
    <label for="sState">State: </label>
    <input type="text" class="form-control" placeholder="Your State" name="sState" id="sState"/>
  </div>
  <div class="form-group">
    <label for="sCountry">Country: </label>
    <input type="text" class="form-control" placeholder="Your Country" name="sCountry" id="sCountry"/>
  </div>
  -->
  <div class="form-group">
    <label for="sZip">Zip Code: </label>
    <input type="text" class="form-control" placeholder="Your Zip" name="sZip" id="sZip"/>
  </div>
  <div class="form-group">
    <label for="sEmail">Email: (not saved, just for confirmation) </label>
    <input type="email" class="form-control" placeholder="Your Email" name="sEmail" id="sEmail"/>
  </div>
  <h2>where are you sendin to</h2>
  <p>fill out all unless you want your postcard to be sent to no one</p>
  <div class="form-group">
    <label for="rName">To: </label>
    <input type="text" class="form-control" placeholder="Recipient Name" name="rName" id="rName"/>
  </div>
  <div class="form-group">
    <label for="rStrAddr">Street Addr: </label>
    <input type="text" class="form-control" placeholder="Recipient Street Addr" name="rStrAddr" id="rStrAddr"/>
  </div>
  <div class="form-group">
    <label for="rCity">City: </label>
    <input type="text" class="form-control" placeholder="Recipient City" name="rCity" id="rCity"/>
  </div>
  <div class="form-group">
    <label for="rState">State: </label>
    <input type="text" class="form-control" placeholder="Recipient State" name="rState" id="rState"/>
  </div>
  <div class="form-group">
    <label for="rCountry">Country: </label>
    <input type="text" class="form-control" placeholder="Recipient Country" name="rCountry" id="rCountry"/>
  </div>
  <div class="form-group">
    <label for="rZip">Zip Code: </label>
    <input type="text" class="form-control" placeholder="Recipient Zip" name="rZip" id="rZip"/>
  </div>
  <button class="btn btn-default" type="submit"i>Make My Postcard!</button>
</form>
{% endblock %}
